
/*.fr{
    height: 70px;
    width: 50%;
    display: flex;
    overflow: initial;
    position: absolute;
    margin-top: 0;
}

h1{
    text-align: center;
    top: 70px;
    left: 30%;
    position: absolute;
    
}

.naz{
   position: relative;
   top: 120px;
   
  
}
.naz5{
    position: relative;
    top: 150px;
}

.naz2{
    position: fixed;
    top: 10px;
    left:400px;
    
}
 
p{
    font-weight: 550;
    font-family: arial;
}*/

*{
  margin: 0;
  padding: 0;
  outline: 0;
}
body{
  font-family: serif;
  background-image: url(src/R.jpeg);
  background-repeat: no-repeat;
  color:white;
  overflow: none; 
}

#form{
  display:flex;
  flex-direction: column;
  min-width: 360px;
  margin: 0 auto ;
  line-height: 2rem;
  font-size: 1em;
  font-weight: bold;
  background-color: rgb(214, 240, 248, 0.2);
  min-width: 360px;
  max-width: 650px;
  border-radius: 10px;
  padding: 25px;
  height: 100vh;
}
input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  color: #106069;
  border-radius: 50px;
  background-color: rgb(226, 226, 239, 0.5);
}

h1{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #106069;
  text-align: center;
}

#submit{
color: #106069;
padding: 10px;
font-size: 16px;
font-weight: bold;
border-radius: 50px;
border: none;
}
#submit:hover{
  color:white;
  background-color: #106069;
}
.select{
  color: #106069;
  background-color: rgb(226, 226, 239, 0.3);
  border: none;
  border-radius: 10px;
  padding:5px;
  font-size: 14px;
}


@media (min-width: 360px)and (max-width: 500px){
  
  background-image{
      background-size: cover;
  }
  body{
    display: flex;
    justify-content: center;
    line-height: center;
    margin: 0 auto;
  }

  #form{
    display: flex;
    flex-direction: column;
      min-width: 100%;
      font-size: 18px;
      font-weight: 700;
      margin: 0 auto;
      height: 80vh;
      margin-left: -30px;
  }
  input{
    min-width: 100%;
  }
  
  h1{
    margin-top: 10px;
  }
}
@media (max-width: 800px)and (min-width: 501px){
    background-image{
        background-size: cover;
    }
    body{
      display: flex;
      justify-content: center;
      line-height: center;
      margin: 0 auto;
      min-width: 100%;
    }

    #form{
        font-size: 18px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        min-width: 100%;
        height: 100vh;
    }
    input{
      min-width: 100%;
    }
    h1{
      margin-top: 10px;
    }
}